<div class="login-container">
  <form class="login-form card card-login">
    <h2 class="card-header form-header">Login</h2>
    <div class="card-body form-body">
      <div>
        <label for="email-login" class="form-label">email:</label>
        <input type="text" class="form-input form-input-login" id="email-login" />
      </div>
      <div>
        <label for="password-login" class="form-label">password:</label>
        <input type="password" class="form-input form-input-login" id="password-login" />
      </div>
      <div>
        <button type="submit" class="btn">login</button>
      </div>
    </div>
  </form>

  <form class="signup-form card card-login">
    <h2 class="card-header form-header">Sign Up</h2>
    <div class="card-body form-body">
      <div>
        <label for="username-signup" class="form-label">username:</label>
        <input type="text" class="form-input form-input-login" id="username-signup" />
      </div>
      <div>
        <label for="email-signup" class="form-label">email:</label>
        <input type="text" class="form-input form-input-login" id="email-signup" />
      </div>
      <div>
        <label for="password-signup" class="form-label">password:</label>
        <input type="password" class="form-input form-input-login" id="password-signup" />
      </div>
      <div>
        <button type="submit" class="btn">sign up</button>
      </div>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>