
<select name="game" id="game" class="dropdown">
    <option value="all">all</option>
    <!--<option value="ageofempiresii">Age of Empires II</option>-->
    {{#each games as |game|}}
    <option value={{game.title}}>{{game.title}}</option>
    {{/each}}
</select>


<ol class="post-list">
    {{#each tournaments as |tournament|}}
    <li class="card">
        {{> post-info tournament }}
    </li>
    {{/each}}
</ol>